@use "../helper/variable.scss" as variable;

.main_area {
    background-image: url("/images/banner1.png");
    background-size: cover;
    height: 600px;
    width: 100%;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-color: white;
        z-index: 1;
    }

    .inner_area {
        text-align: center;
        position: absolute;
        z-index: 2;

        h2 {
            font-family: 'Times New Roman', Times, serif;
                font-size: 45px;
                font-weight: 900;
                text-align: center;
                margin-bottom: 40px;
        }

        p {
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: rgb(36, 33, 33);
        }

        button {
            font-family: sans-serif;
            font-size: 16px;
            font-weight: 900px;
            color: white;
            background-color: variable.$primary_color;
            padding:10px 20px 10px 20px;
            border-radius: 10px;
            border: none;
            transition: all 0.3s ease;

        }
        button:hover{
            transform:translate(-10px) scale(1.03);
            box-shadow: 0 12px 20px rgba(0,0,0,0.3),0 0 15px rgba(255, 105, 180, 0.5); ;
        }
    }
}