@use "../helper/variable.scss" as variable;

.head_area {
    margin-bottom: 40px;
    padding:45px 0px 50px 0px;
    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 45px;
        font-weight: 900;
        text-align: center;
        margin-bottom:40px;
        
    }

    .content_area {
        .card_area {
            margin-bottom: 30px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            transition: all 0.3s ease;
        
            .image_area {
                img {
                    height: 250px;
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                    margin-bottom: 10px;
                }
            }

            .content_area {
                margin-left: 10px;

                .heading {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 24px;
                    font-weight: 900;
                    margin-bottom: 10px;

                }

                .description {
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgb(51, 51, 51);
                    margin-bottom: 10px;
                }

                .button_area {
                    button {
                        color: variable.$primary_color;
                        border-color: variable.$primary_color;
                        border-radius: 15px;
                        padding: 10px 20px 10px 20px;
                        font-family: sans-serif;
                        font-size: 15px;
                        font-weight: 700px;
                        border-radius: 10px;
                        margin-bottom: 10px;
                    }

                }
            }
        }
            .card_area:hover{
                transform:translateY(-10px) scale(1.03);
                box-shadow:0 12px 20px rgba(0,0,0,0.3), 0 0 15px rgba(85, 18, 51, 0.3);
                cursor: pointer;
            }
    }
}