@use "../helper/variable.scss" as variable;

.outer_area {
    background-color:rgb(245, 245, 245);
    margin-bottom: 40px;
    padding: 45px 0px 50px 0px;

    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 45px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 40px;
    }

    .inner_area {
        .card_area {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

            .paragraph {
                font-family: sans-serif;
                font-size: 18px;
                font-style: italic;
                font-weight: 400;
                margin-bottom: 30px;

            }

            .name {
                text-align: right;
                font-family: sans-serif;
                font-size: 17px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            .description {
                text-align: right;
                font-family: sans-serif;
                font-size: 17px;
                font-weight: 400;
                margin-bottom: 5px;
                color: grey;
            }
        }
    }
}