@use "../helper/variable.scss" as variable;

.head_container {
    background-color: variable.$primary_color;
    padding:10px 0px 10px 0px;
      background: linear-gradient( to left, #6b1f3a, #8b4d06);

    .inner_container {
           display: flex;
            justify-content:center;
            align-items: center;
          margin-top: 10px;
          color:white;
        .left_area {
            ul {
                li {
                    display: inline-block;
                    margin-left:60px;
                }
            }
        }
        .right_area {
            ul {
                li {
                    display: inline-block;
                    margin-left: 60px;
                    .icon {
                        height: 25px;
                    }
                }
            }
        }
    }
}