@use "../helper/variable.scss" as variable;

.main_container {
    background-color: variable.$primary_color;
    padding: 30px 0px 10px 0px;

    .inner_area {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            width: 40px;
        }

        .listing {
            width: calc(100% - 216px);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 100px;
            color: white;

            ul {
                li {
                    display: inline-block;
                    margin-right: 20px;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: rgb(255, 208, 0);
                    }

                    &.active {
                        color: #ffd700;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}