@use "../helper/variable.scss" as variable;

.outer {
    background-color: variable.$primary_color;
    margin-bottom: 5px;
    padding: 60px 0px 60px 0px;

    .inner_area {
        text-align: center;

        h2 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 60px;
            font-weight: 700;
            color: white;
            margin-bottom: 40px;
        }

        p {
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: rgb(36, 33, 33);
            color: white;
            margin-bottom: 30px;
        }

        button {
            font-family: sans-serif;
            font-size: 16px;
            font-weight: 900px;
            color: rgb(0, 0, 0);
            background-color: white;
            padding: 10px 30px 10px 30px;
            border-radius: 10px;
            border: none;
            transition: all 0.3s ease;

        }

        button:hover {
            transform: translate(-10px) scale(1.03);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(255, 105, 180, 0.5);
            ;

        }
    }
}