@use "../helper/variable.scss" as variable;

.head_area {
    margin-bottom: 40px;
    padding: 45px 0px 50px 0px;

    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 45px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 40px;
    }

    .content_area {
        .card {
            text-align: center;
            padding: 20px;
            background-color: rgb(245, 245, 245);
            border: none;

            .icon_area {

                .icons {
                    color: variable.$primary_color;
                    height: 50px;
                    width: 50px;
                    margin-bottom: 10px;
                }
            }

            .heading {
                font-family: 'Times New Roman', Times, serif;
                font-size: 24px;
                font-weight: 900;
                margin-bottom: 10px;
            }

            .paragraph {
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 500;
                color: rgb(51, 51, 51);
                margin-bottom: 10px;
            }
        }
    }
}