@use "../helper/variable.scss" as variable;

.outer_area {
    .banner_area {
        background-image: url("/images/culture.jpg");
        background-size: cover;
        height: 600px;
        width: 100%;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            background-color: rgb(68, 66, 66);
            z-index: 1;
        }

        .banner_content {
            text-align: center;
            position: absolute;
            z-index: 2;

            h2 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 60px;
                font-weight: 900;
                color: rgb(255, 251, 251);
            }

            p {
                font-family: sans-serif;
                font-size: 20px;
                font-weight: 400;
                color: rgb(255, 255, 255);
            }
        }

    }

    .content_area {
        
        .head_area {
            margin-bottom: 20px;
            h3 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 45px;
                font-weight: 900;
                text-align: center;
                margin-bottom: 10px;
            }

            p {
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                margin-bottom: 10px;
            }
        }

        .card_area {
            margin-bottom: 20px;
            .card {
                margin-bottom: 30px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
                border-radius: 10px;
                transition: all 0.3s ease;

                .image_area {
                    img {
                        height: 250px;
                        width: 100%;
                        border-radius: 10px 10px 0px 0px;
                        margin-bottom: 10px;
                    }

                    .content_area {
                        margin-left: 10px;

                        p {
                            font-family: sans-serif;
                            font-size: 14px;
                            font-weight: 500;
                            color: rgb(51, 51, 51);
                            margin-bottom: 10px;
                        }

                        h3 {
                            font-family: 'Times New Roman', Times, serif;
                            font-size: 24px;
                            font-weight: 900;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
             .card:hover{
                transform:translateY(-10px) scale(1.03);
                box-shadow:0 12px 20px rgba(0,0,0,0.3), 0 0 15px rgba(85, 18, 51, 0.3);
                cursor: pointer;
            }
        }
    }
}