@use "../helper/variable.scss" as variable;

.main_area {
    .head_area {
        background-color: #f1aed231;
        padding: 10px 0px 10px 0px;
        margin-bottom: 30px;

        .content_area {
            h2 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 45px;
                font-weight: 900;
                text-align: center;
            }

            p {
                font-family: sans-serif;
                font-size: 20px;
                font-weight: 400;
                color: rgb(36, 33, 33);
            }
        }
    }

    .card_area {
        .card {
            margin-bottom: 30px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            transition: all 0.3s ease;

            .image_area {
                img {
                    height: 250px;
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                    margin-bottom: 10px;
                }
            }

            .content_area {
                margin-left: 10px;

                h2 {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 24px;
                    font-weight: 900;
                    margin-bottom: 10px;
                }

                .tags {
                     margin-bottom: 10px;
                    .tag {
                        background-color: rgba(236, 181, 0, 0.377);
                        margin-right: 10px;
                        border-radius: 10px;
                        padding:5px;
                        font-weight: 550;
                       
                    }
                }

                p {
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgb(51, 51, 51);
                    margin-bottom: 10px;
                }

                .button_area {
                    text-align: center;
                   
                    button {
                        background-color: variable.$primary_color;
                        color: white;
                        border:none;
                        border-radius: 15px;
                        font-family: sans-serif;
                        font-size: 15px;
                        font-weight: 700px;
                        margin-bottom: 10px;
                         padding: 10px 150px 10px 150px;

                    }
                }

            }
        }

        .card:hover {
            transform: translateY(-10px) scale(1.03);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(85, 18, 51, 0.3);
            cursor: pointer;
        }
    }
}