@use "../helper/variable.scss" as variable;

.main_area {
    padding-top: 120px;
    padding-bottom: 100px;

    .inner_area {
        background-color: #FFFFF5;
        padding: 70px 35px 60px 35px;
        box-shadow: rgba(208, 208, 208, 1) 0px 1px 4px;

        h1 {
            text-align: center;
            font-family: Clash Display;
            font-size: 36px;
            font-weight: 900;
            font-style: bold;
            margin-bottom: 20px;
        }

        h2 {
            text-align: left;
            font-family: Clash Display;
            font-size: 24px;
            font-weight: 700;
            font-style: bold;
            margin-bottom: 10px;
        }

        ul {

            li {
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 10px;
                list-style: disc !important;

            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 30px;

        }
    }
}