@use "../helper/variable.scss" as variable;

.booking-container {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin: 3rem auto;
  max-width: 700px;
  text-align: left;

  h1 {
    color: #5b2363;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  p {
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
  }

  .travel-dates {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .slider-group {
    margin-bottom: 1.5rem;

    label {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      margin-top: 1rem;

      span {
        color: #5b2363;
      }
    }

    input[type="range"] {
      width: 100%;
      accent-color: #c87edb;
    }
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
  }

  .payment-options {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;

    label {
      font-weight: normal;
      color: #444;
    }
  }

  .book-btn {
    display: block;
    width: 100%;
    background-color: #5b2363;
    color: #fff;
    font-weight: 600;
    padding: 0.8rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    border: none;
    transition: background 0.3s ease;

    &:hover {
      background-color: #7b3484;
    }
  }
  
}
